* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0b0b0b;
  color: white;
  padding: 36px 16px;
}
.card {
  width: 100%;
  max-width: 520px;
  padding: 28px;
  background: linear-gradient(#131313, #060606);
  border-radius: 26px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.03);
  overflow: hidden;
  margin-bottom: 40px;
}
.top {
  display: flex;
  gap: 18px;
  align-items: center;
}
.avatar img {
  width: 104px;
  height: 104px;
  border-radius: 60px;
  border: 3px solid #c8102e;
  flex: 0 0 84;
}
.bio {
  flex: 1;
}
.descricao {
  color: #959595;
}
.botoes {
  margin-top: 18px;
  display: grid;
  gap: 12px;

  /* no PC → botões lado a lado */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  justify-content: center;
}

a.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 12px;

  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: #0f0f0f;
  border: 1px solid #444444;
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 19px;
}

a.bt:hover {
  transform: scale(1.05);
  background-color: #c30000;
  box-shadow: 0 0 12px rgba(195, 0, 0, 0.5);
}
a.bt i {
  font-size: 19px;
  vertical-align: middle; 
  position: relative;
  top: -1px; 
}


footer {
  margin-top: 18px;
  font-size: 13px;
  text-align: center;
  color: #a1a1a1;
}
.carrosel{
    width: 100%;
    max-width: 520px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: linear-gradient(#131313, #060606);
    padding-bottom: 50px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}
.slides{
    display: flex;
    width: 500%;
    transition: transform 0.8s ease;
}

.slide{
    width: 20%;
    flex-shrink: 0;
    text-align: center;
    padding: 28px;
}
.slide img{
    width: 100%;
    max-width: 380px;
    height: 280px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.slide h2{
    font-size: 15px;
    color: white;
    margin-bottom: 8px;
    font-weight: 500;
}
.visita-bt{
    display: inline-block;
    padding: 8px 14px;
    border-radius: 10px;
    background: linear-gradient(#c30000, #5d0000);
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    transition: 0.3s;
}
    input[name="radio-bt"] { display: none; }

    #radio1:checked ~ .slides { transform: translateX(0); }
    #radio2:checked ~ .slides { transform: translateX(-20%); }
    #radio3:checked ~ .slides { transform: translateX(-40%); }
    #radio4:checked ~ .slides { transform: translateX(-60%); }
    #radio5:checked ~ .slides { transform: translateX(-80%); }

.manual{
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 5;
}
.manual-bt{
    border: 4px solid #5d0000;
    padding: 6px;
    border-radius: 70%;
    cursor: pointer;
    transition: all 0.3s;
}
.manual-bt:hover {
    background: #c30000;
    border-color: #c30000;
}
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.nav-arrow:hover {
  background: #c30000;
  box-shadow: 0 0 8px rgba(195, 0, 0, 0.6);
}

.nav-left { left: 10px; }
.nav-right { right: 10px; }

